@model smsSurvey.dbInterface.SurveyPlan

@{
    ViewBag.Title = "Survey report";
}

<script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart","table"]}]}'></script>

<text>
@{Html.RenderPartial("SurveyResultOverview", (smsSurvey.dbInterface.SurveyPlan) Model);}
</text>

@if (Model != null)
{
   <text>
    @{Html.RenderPartial("SurveyReport", (IEnumerable<smsSurvey.dbInterface.Question>) Model.QuestionSet.OrderBy(q => q.Order));} 
   </text>
}
else
{
   <p>
      If you are reading this then you have stumbled into an "under construction" area - congrats!
   </p>      
}   
@section css{
   @Styles.Render("~/Content/custom")
}

@section Scripts {
@Scripts.Render("~/bundles/referencescripts")
@Scripts.Render("~/bundles/activityReports")
}