@model IEnumerable<smsSurvey.dbInterface.Tags>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<script type="text/template" id="location-template">  
      <input name="Name" class="readOnly" value="<%= Name %>" placeholder="The unique location name, e.g. Bucharest1" style="width:250px">         
      </input>
      <input name="Description" class="readOnly" value="<%= Description %>" placeholder="E.g. Our first store from Bucharest" style="width:550px">       
      </input>            
      <button class="btn btn-primary save-location-btn" type="button" disabled>Save</button>               
</script>

<script type="text/template" id="location-set-template">
    <ul class="locations-set-content">

    </ul>
    <button class="btn btn-primary add-location-btn" type="button">Add location</button>
</script>

<div id="contentGoesHerelocView">

</div>

@section Scripts {  
   @Scripts.Render("~/bundles/locationTags")
}
