@model IEnumerable<smsSurvey.dbInterface.Tags>

@{
    ViewBag.Title = "View & edit locations";
    
}

<h2>Index</h2>

<script type="text/template" id="location-template">  
      <div style="display:none" class="alert fade in alert-error" id="noTags-error" >
                  <button type="button" class="close close-location-notifications">×</button>
                  <div class="location-notifications"></div>
      </div>
    
      <input name="LocationName" type="text" class="readOnly" value="<%= Name %>" placeholder="The unique location name, e.g. Bucharest1" style="width:180px">         
      </input>
      <input name="Description" type="text" class="readOnly" value="<%= Description %>" placeholder="E.g. Our first store from Bucharest" style="width:350px">       
      </input>   
      <select data-placeholder="Choose a trigger answer" class="chosen-select location-select-active-survey">
            <option value="<%= ActiveSurveyId %>" selected><%= ActiveSurveyDescription %></option>      
         </select>      
      <button class="btn btn-primary save-location-btn location-button" type="button" disabled>Save</button> 
      <button style="display:none" class="btn btn-primary discard-location-btn location-button" type="button">Discard</button>               
</script>

<script type="text/template" id="location-set-template">
    <ul class="locations-set-content">

    </ul>
    <button class="btn btn-primary add-location-btn" type="button">Add location</button>
</script>

<div class="locationsHeader">
      <label style="width:190px">Name</label>
      <label style="width:360px">Description</label>
      <label style="width:200px">ActiveSurvey</label>
   </div>
<div class="clear"></div>
<div id="contentGoesHerelocView">

</div>

@section Scripts {  
   @Scripts.Render("~/bundles/locationTags")
}
