@model string
@using (Html.BeginForm("Search", Model, null, FormMethod.Get))
{
   <div class="searchBox noprint">      
      <input class="description-filter-input" name="text" id="text" type="text" value="@Request["text"]"
              placeholder="Description to look for..." />
       <input type="submit" value="Filter surveys" class="btn btn-primary filter-submit-btn" />
   </div>
}
