@model smsSurvey.dbInterface.SurveyPlan

@{Html.RenderPartial("ReportFilterArea");}

<div class="clear:both"></div>
<fieldset>
    <legend> Overview: @Model.Description </legend>
    <div id="@String.Format("tableOverviewChart_div{0}", Model.Id)"></div>
    <div id="@String.Format("pieOverviewChart_div{0}", Model.Id)"></div>
    <div style="display: none" id="surveyId">@Model.Id</div>
</fieldset>


