@using smsSurvery.Surveryer.GlobalResources
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>@Global.MobileSurveyPageTitle</title>
   <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
       var SurveyGlobals = SurveyGlobals || {};
       SurveyGlobals.tabletView = false;
   </script>
</head>   

@{Html.RenderPartial("MobileSurvey");}

@Styles.Render("~/bundles/MobileSurveyCss")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/mobilesurvey")
