@using smsSurvery.Surveryer.GlobalResources
@{
    Layout = null;
    ViewBag.Title = "No running survey";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No running survey</title>
   @Styles.Render("~/bundles/MobileSurveyCss")
</head>
<body>    
    <header>
       <div class="headerContainer">
                <img id="pageIcon" class="logo" src="@ViewBag.LogoLocation" />
                <h3 id="pageTitle">No running survey</h3>
       </div>        
    </header>
    <div class="clear" />
     <section id="survey">                
        <p>Sorry - no running survey for this location</p>            
     </section>
     <div class="clear" />
        <footer>
                <span>@Global.MobileSurveyFooterCaption
                  <a href="http://www.txtfeedback.net">TxtFeedback
                  </a>
                </span>
        </footer>            
</body>
</html>
