@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survey already Completed</title>
   @Styles.Render("~/bundles/MobileSurveyCss")
</head>
<body>    
    <header>
       <div class="headerContainer">
                <img id="pageIcon" src="/Content/images/small-icon.png" />
                <h3 id="pageTitle">Survey completed</h3>
       </div>        
    </header>
    <div class="clear" />
     <section id="survey">                
        <p>This survey has already been been submitted. Thank you!</p>            
     </section>
     <div class="clear" />
        <footer>
                <span>Powered by 
                  <a href="http://www.txtfeedback.net">TxtFeedback
                  </a>
                </span>
        </footer>            
</body>
</html>
