#sms-message-textarea {
   width: 95%;
}

#run {
   font-size:22px;
   padding:11px; 
   width:30%;
}

#run-action {
   text-align: right;
}

#sms-tab {
   text-align:center;
}

#action-1, #action-2 {
   border: 1px solid #ccc;
   padding: 2px 10px 10px;
   margin-bottom:10px;
}

#action-1 {
   margin-top:15px;
}

.tab-choose-action {
   height: 120px;
   padding-top:23px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 0 0 5px 5px;
   border-bottom: 1px solid #ddd;
   border-right: 1px solid #ddd;
   border-left: 1px solid #ddd;
   background: #fff;
}

#run-action {
   margin-bottom:10px;
}
#action-tabs {
   margin-bottom:0;
}

#add-contacts {
   float:left;
   width:50%;
}

#table-scroll {
   float:left;
   width:50%;
   background: #fff;
   border-radius:5px;
   height:515px;   
}

.alert-invisible {
   visibility:hidden;
}

.alert-visible {
   visibility: visible;
}

.facts-sms td {
   text-align:left;
   padding-left:15px;
   padding-right:15px;
   min-width: 95px;
}

.facts-sms {
   float:right;
}

#facts-sms-wrapper {
   text-align:right;
}

#progress-log {
   height:auto; 
   width:100%;
   text-align:center;  
}

#progress-table-wrapper {
   overflow-y:auto;
   max-height:300px;
   margin-top:3px;
   margin-bottom:10px;
}

.displayBlock {
   display: block;
}

#expand-log-btn-wrapper {
   text-align:right;
   margin-top:-13px;
}

.deliveryFailed {
   background: #D9534F;
   color: white;
}

.page-link-active {
   background: #eee;
   padding:5px;
}

#phonenumbers-pagination {
   padding-left: 10px;
}

.page-link, .suspension-link {
   border: 1px solid #eee;
   padding:5px 9px;
}


#phonenumbers {
   max-height: 424px;
}

.contact-list {
   padding: 0 10px;
}