/* QUESTIONS PAGE */
@media (max-width:320px) {
    #survey {
        font-size: 12pt;
    }
}

@media (max-width: 480px) {
    #survey {
        font-size: 10pt;
    }
}

@media screen {
    #survey {
        font-size: 12pt;
    }
}

#survey {
    text-indent: 1em;
    position:relative;
}

#survey p {
  padding: 0 0 0 10px;
}

/* HEADER */
header {
    font-size: 1.3em;    
    padding: 0.3em 0 0.2em 4px;
}

.headerContainer {
   width: 100%;
   display:inline-block;
}
#pageTitle {
    font-weight: bold;    
    margin: 0.4em 0 0 0 !important;    
    vertical-align: middle;     
    line-height: 20px;
}

#pageIcon {
    float:left;
    display:inline;
    width:45px;
    height:45px;
    vertical-align: middle;
}

button {
    padding: 0.4em;
    font-size: 1.2em;
    width: 100%;
    cursor: pointer;
}

    button.align-right {
        float: right;
    }

    button.enabled {
        background: #FF5B00;
        border: 0.1em solid #F54928;
        color: #ffffff;
    }

    button.disabled {
        background: #bbb;
        color: #ffffff;
    }

    button.small {
        width:auto;
        font-size:1em;
        padding:0.3em;
    }

    #introMessage {
       text-align: center;
    }
/* END HEADER */

/* QUESTION */
div.question {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    background: #F4F7F8;
    border-bottom: 1px solid #D6DEE3;
    text-align: center;
}

        div.question h4.questionTitle {
           margin: 0;
            /*background: #327CCB;*/
            background: #009FE3;
            color: #FFFFFF;
            padding: 10px 7px;
            border-top: 0.1em solid #0A6DF6;
            line-height: 1.2em;
            display:block;
        }

div.invalidAnswer h4.questionTitle {
    background: #E60064;
    border-top: 0.1em solid #990042;
}

div.question div.answerArea {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-indent: 0;
}
/* END QUESTION */

textarea.comment {
    color: #000;
    font: 1em sans-serif;
    width: 100%;
}

.additionalInfo {
    margin-top:0.5em;
}

.additionalInfo legend {
    font-size: 1em;
    margin: 0;
    border-bottom: 0;
    line-height: 19px;
}

    .additionalInfo textarea {
        margin-top:0.3em;
    }

select.list {
    width: 100%;
    /*font-size: 1em;*/
    padding: 5px;
}

#doneBtnWrapper {
    margin-bottom: 0.6em;
    text-indent: 0px;
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    font-size: 0.8em;
    border-top: 0.1em dotted #132E4B;
    padding: 0px 9px 5px 10px;
}

/* UTILITIES */
.clear {
    clear: both;
}

.page {
   float:left;
   width: 100%;
   font-family:sans-serif;
}

/* STAR */
.star {
    display: inline;
}

.starImg {
    width: 1.5em;
    height: 1.5em;
}

.invisibleByDefault {
    display: none;
}
/* END STAR */

/* END UTILITIES */

/* END QUESTIONS PAGE */

/* THANK YOU PAGE */
#thankYouPage {
text-indent: 0px;
position:relative;
font-family: sans-serif;
}

#thankYouMessage {
    padding-left:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size:1.3em;
}

#userInfo {
    padding: 1em;
    background: #F4F7F8;
    border: 1px solid #D6DEE3;
    font-size: 1.1em;
}

#userInfo label {
line-height: 1.2em;
}

    #userInfo input {
        font-size:1.1em;
        height:1.2em;
    }

#introMessage p{
   background: #0C2639;
   line-height: 35px;
   color: #FFF;
   font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 20px;
}

input[type=checkbox].css-checkbox { position: absolute;  overflow: hidden;  clip: rect(0 0 0 0);  height:1px;  width:1px;  margin:-1px;  padding:0; border:0; }  input[type=checkbox].css-checkbox + label.css-label { padding-left:20px; height:17px;  display:inline-block; line-height:17px; background-repeat:no-repeat; background-position: 0 0; font-size:15px; vertical-align:middle; cursor:pointer; }  input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -17px; }  .css-label{ background-image:url(http://csscheckbox.com/checkboxes/elegant.png); }