/* QUESTIONS PAGE */
@media (max-width:320px) {
    #survey {
        font-size: 12pt;
    }
}

@media (max-width: 480px) {
    #survey {
        font-size: 10pt;
    }
}

@media screen {
    #survey {
        font-size: 12pt;
    }
}

#survey {
    /*text-indent: 1em;*/
    position:relative;
}

#survey p {
  padding: 0 0 0 10px;
}

/* HEADER */
header {
    font-size: 1.3em;    
    padding: 0.3em 0 0.2em 4px;
}

.headerContainer {
   width: 100%;
   display:inline-block;
}
#pageTitle {
    font-weight: bold;    
    margin: 0.4em 0 0 0 !important;    
    vertical-align: middle;     
    line-height: 20px;
}

#pageIcon {
    float:left;
    display:inline;
    width:45px;
    height:45px;
    vertical-align: middle;
}

button {
    padding: 0.4em;
    font-size: 1.2em;
    width: 100%;
    cursor: pointer;
}

    button.align-right {
        float: right;
    }

    button.enabled {
        background: #FF5B00;
        border: 0.1em solid #F54928;
        color: #ffffff;
    }

    button.disabled {
        background: #bbb;
        color: #ffffff;
    }

    button.small {
        width:auto;
        font-size:1em;
        padding:0.3em;
    }


/* END HEADER */

/* QUESTION */
div.question {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    background: #F4F7F8;
    border-bottom: 1px solid #D6DEE3;
    /*text-align: center;*/
}

        div.question h4.questionTitle {
           margin: 0;
            /*background: #327CCB;*/
            background: #009FE3;
            color: #FFFFFF;
            padding: 10px 7px;
            border-top: 0.1em solid #0A6DF6;
            /*line-height: 1.2em;*/
            display:block;
        }

div.invalidAnswer h4.questionTitle {
    background: #E60064;
    border-top: 0.1em solid #990042;
}

div.question div.answerArea {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-indent: 0;
}
/* END QUESTION */

textarea.comment {
    color: #000;
    /*font: 1em sans-serif;*/
    width: 100%;
}

.additionalInfo {
    margin-top:0.5em;
}

.additionalInfo legend {
    font-size: 1em;
    margin: 0;
    border-bottom: 0;
    line-height: 19px;
}

    .additionalInfo textarea {
        margin-top:0.3em;
    }

select.list {
    width: 100%;
    /*font-size: 1em;*/
    padding: 5px;
}

#doneBtnWrapper {
    margin-bottom: 0.6em;
    text-indent: 0px;
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    font-size: 0.8em;
    border-top: 0.1em dotted #132E4B;
    padding: 0px 9px 5px 10px;
}

/* UTILITIES */
.clear {
    clear: both;
}

.page {
   float:left;
   width: 100%;
   /*font-family:sans-serif;*/
   font-family: 'Arvo', serif;
}

/* STAR */
.star {
    display: inline-block;
}

.starImg {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-position: 0px 0px;
    background-image: url("/Content/images/stars.png");
}
.starActive {
   background-position: 50px 0px;
}

.invisibleByDefault {
    display: none;
}
/* END STAR */

/* END UTILITIES */

/* END QUESTIONS PAGE */






.surveyMessage p{
   background: #0C2639;
   line-height: 35px;
   color: #FFF;
   font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   /*font-size: 20px;*/
}

.surveyMessage {
   /*text-align: center;*/
}

input[type=checkbox].css-checkbox { position: absolute;  overflow: hidden;  clip: rect(0 0 0 0);  height:1px;  width:1px;  margin:-1px;  padding:0; border:0; }  
input[type=checkbox].css-checkbox + label.css-label { padding-left:20px; height:17px;  display:inline-block; line-height:17px; background-repeat:no-repeat; background-position: 0 0; font-size:15px; vertical-align:middle; cursor:pointer; }  
input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -17px; } 
 .css-label{ background-image:url(http://csscheckbox.com/checkboxes/elegant.png); }

 /* THANK YOU PAGE */
#thankYouPage {

}

#thankYouMessage {
  
}

#surveyUserInfo label {
   text-indent: 0px;
}

.followup {
   font-size: 20px;
   color: #0C2639;
   margin: 0px 0px 5px 0px;
}

#userInfo {
    padding: 1em;
    background: #F4F7F8;
    border: 1px solid #D6DEE3;
    font-size: 1.1em;
    text-indent: 0px;
}

#userInfo label {
line-height: 1.2em;
}

#userInfo input {
   font-size:1.1em;
   height:1.2em;
}

input[type=radio] {
    display:none;
}
 
input[type=radio] + label {
    width: 75px;
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
 
input[type=radio]:checked + label {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
}

.starsArea {
   width: 250px;
   height:50px;
   margin-left: auto;
   margin-right: auto;
}

#survey h4 {
   font-weight: normal;
}

/* NUMERIC SCALE */
.numeric-entry {
  float: left;
  width: 20%;
  padding-top: 2px;
  margin-top: -25px;
  text-align: center;
}

.numeric-text-label {
   height: 42px;
}

.numeric-value-label {
  height: 19px;
  position: relative;
  top: 33px;
  display:inline;
}

.low-scale {
   float: left;
}

.high-scale {
   float:right;
}

.scale-legend {
   font-size: 0.7em;
}

input.numeric-radio {
   display:inline;
}

.scale-wrapper {
   width:300px;
   margin:0 auto;
}

.scale-legend-wrapper {
   width: 270px;
   margin: 0 auto;
}

div.numeric-radio {
   margin:0 auto;
}