@{
    ViewBag.Title = "SMS Survey";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about TxtFeedback and its solution suite visit
                <a href="http://txtfeedback.net" title="TxtFeedback">txtfeedback.net</a>.
               <br />
                TxtFeedback provides <mark>solutions</mark> that make customer engagement a breeze for your company.
                If you have any questions about TxtFeedback visit our
                <a href="http://txtfeedback.net/faq/" title="FAQ page">faq page</a>.
            </p>
        </div>
    </section>
}
<h3>To get the most from SMS Survey</h3>
<ol class="round">
    <li class="one">
        <h5>Make sure your customer phone numbers list is up to date</h5>        
       There is no worst thing that receiving an unexpected/unsolicited SMS message - so make sure that your SMS message arrives at the correct destination
        <a href="http://txtfeedback.net/sign-up/">Learn more…</a>
    </li>

    <li class="two">
        <h5>Keep it short and simple</h5>
        Not more than 3 questions and not more than one open ended question per survey. More that this reduces the likelihood for completion.
        <a href="http://txtfeedback.net/pricing/">Learn more…</a>
    </li>

    <li class="three">
        <h5>Reward your customers for providing feedback</h5>        
       A happy customer is a loyal customer. And what better way to ensure that the customer comes back to your store than giving him a gift voucher?
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>

<h2>Current running survey</h2>
@if (ViewBag.CurrentSurvey != null)
{
   foreach (var q in ViewBag.CurrentSurvey.Questions)
   {
    Html.RenderPartial("QuestionDetails", (smsSurvey.dbInterface.Question) q);
   }
}
else
{
   <p>No running surveys. Start or create one</p>   
}