@{
    ViewBag.Title = "SMS Survey";
}
<script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart","table"]}]}'></script>
<h2>Currently running survey</h2>
@if (ViewBag.CurrentSurvey != null)
{
   foreach (var q in ViewBag.SurveyQuestions)
   {
    Html.RenderPartial("QuestionDetails", (smsSurvey.dbInterface.Question) q);
   }
}
else
{
   <p>
      No running surveys. 
      @Html.ActionLink("Start one of the existing surveys or create a new survey", "Index", "SurveyPlan",null,null)
   </p>      
}   
 
@section Scripts {
@Scripts.Render("~/bundles/custom")
}
 