/* Log on page */
#logOnPage {
	background-image: linear-gradient(to bottom, #071D2D, #122A3B);
	background: #071D2D;
}

#logOnForm {
	width: 625px;
	margin:0 auto;
}

#username, #password {
	color: #333333;
	width:600px;
	font-family:'Open Sans';
	line-height: 30px;
	height:42px;
	padding-left:10px;
	padding-right:13px;
	font-size: 16px;
}

#logo {
	margin: 0 auto;
	margin-bottom: 4em;
	margin-top:2em;
	width:300px;
}

#logOnBtn {
	font-family: 'Open Sans';
	font-size: 26px;
	width:600px;
	padding-top:19px;
	padding-bottom: 18px;
	margin-top:26px;
	background: -webkit-linear-gradient(top, #eb7a2c 0%,#fe6703 100%);
	background: linear-gradient(to bottom, #eb7a2c, #fe6703) repeat scroll 0 0 transparent;
}

/* Device name */
.device-group {
	position: fixed;
	top:10px;
	right:10px;	
}

.device-name, .device-dropdown {
	padding:17px;
	font-family: 'Open Sans';
}

.device-group span.device-name {
	font-size:18px;
}

.device-dropdown {
	width: inherit;
}

.device-settings {
	left: -94px;
}

input.device-name-input {
	display: block;
	font-family: 'Open Sans';
	font-size:18px;
	height:32px;
	
}

.device-settings-inner {
	padding: 10px;
}

button.device-save-btn {
	font-family: 'Open Sans';
	font-size:18px;
	padding: 10px;
}