@model smsSurvey.dbInterface.Question

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     <text>
    @{Html.RenderPartial("CreateEditQuestion", Model);}
    </text> 
}

<div>
     @Html.ActionLink("Back to survey", "Edit", "SurveyTemplate", new {id = Model.SurveyPlan_Id }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
