@model smsSurvery.Surveryer.Controllers.ReportsController.TagCloud
@using smsSurvery.Surveryer.Extensions
@{
    ViewBag.Title = "BuildWordCloud";

}
<h2>BuildWordCloud</h2>

     @Html.Raw(Html.TagCloud(Model))