<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
     <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     <sectionGroup name="elmah">
        <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
        <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
        <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
        <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
     </sectionGroup>
  </configSections>
  <connectionStrings>
     <!--dev db -->
     <add name="DefaultConnection" connectionString="Data Source=89.38.209.13;Initial Catalog=smsSurvey;User ID=sms_feedback_2;Password=feed123!" providerName="System.Data.SqlClient" />
     <add name="smsSurveyEntities" connectionString="metadata=res://*/smsSurvey.csdl|res://*/smsSurvey.ssdl|res://*/smsSurvey.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.38.209.13;initial catalog=smsSurvey;user id=sms_feedback_2;password=feed123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="elmah-sqlserver" connectionString="Data Source=89.38.209.13;User ID=sms_feedback_2;Password=feed123!;Initial Catalog=smsSurvey;" providerName="System.Data.SqlClient" />
     
     <!--demo db 
     <add name="smsSurveyEntities" connectionString="metadata=res://*/smsSurvey.csdl|res://*/smsSurvey.ssdl|res://*/smsSurvey.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nq51pjjr6l.database.windows.net;initial catalog=smssurveydemo;persist security info=True;user id=txtfeedback@nq51pjjr6l;password=sms_feed123!;MultipleActiveResultSets=True;App=Entityframework&quot;" providerName="System.Data.EntityClient" />     
     <add name="DefaultConnection" connectionString="Data Source=nq51pjjr6l.database.windows.net,1433;Initial Catalog=smssurveydemo;User ID=txtfeedback@nq51pjjr6l;Password=sms_feed123!;MultipleActiveResultSets=True;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient" />          
     <add name="elmah-sqlserver" connectionString="Data Source=nq51pjjr6l.database.windows.net,1433;Initial Catalog=smssurveydemo;User ID=txtfeedback@nq51pjjr6l;Password=sms_feed123!;MultipleActiveResultSets=True;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient" />
     -->
     
  </connectionStrings>
   <log4net>      
      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
         <bufferSize value="100" />          
         <connectionType value="System.Data.SqlClient.SqlConnection, System.Data,  Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />        
         <connectionStringName value="DefaultConnection" />
         <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
         <parameter>
            <parameterName value="@log_date" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.RawTimeStampLayout" />
         </parameter>
         <parameter>
            <parameterName value="@thread" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%thread" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@log_level" />
            <dbType value="String" />
            <size value="50" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%level" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@logger" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%logger" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@message" />
            <dbType value="String" />
            <size value="4000" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%message" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@exception" />
            <dbType value="String" />
            <size value="2000" />
            <layout type="log4net.Layout.ExceptionLayout" />
         </parameter>
         <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />
         </filter>
      </appender>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
         <file value="mylogfile1.txt" />
         <appendToFile value="true" />
         <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %level (%M) (%file:%line)  - %message%newline" />
         </layout>
         <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />
         </filter>
      </appender>
      <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">        
         <to value="dragos@txtfeedback.net, mihai@txtfeedback.net" />
         <from value="dragos.andronic@gmail.com" />
         <subject value="LoyaltyInsights demo handled error" />         
         <bufferSize value="10" />
         <smtpHost value="smtp.gmail.com" />
         <port value="587" />
         <username value="outbound@txtfeedback.net" />
         <password value="outboundpasswtxtfeedback" />
         <authentication value="Basic" />
         <EnableSsl value="true" />
         <lossy value="true" />
         <evaluator type="log4net.Core.LevelEvaluator">
            <threshold value="ERROR" />
         </evaluator>
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
         </layout>
         <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR" />
            <levelMax value="FATAL" />
         </filter>
      </appender>
      <root>
         <level value="All" />
         <appender-ref ref="AdoNetAppender" />
         <appender-ref ref="SmtpAppender" />
      </root>
   </log4net>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MvcMailer.BaseURL" value="" /></appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
     <httpHandlers>
        <!--<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />-->
     </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="50000000" slidingExpiration="true" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="smsSurvery.Surveryer.Extensions" />
         <add namespace="smsSurvery.Surveryer.GlobalResources" /> 
      </namespaces>
    </pages>
     <httpModules>        
        <!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"  />
        <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
        <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />-->
     </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     <handlers>   
        <remove name="elmah" />        
        <add name="elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
        <remove name="ExtensionlessUrl-Integrated-4.0" />
        <add name="ExtensionlessUrl-Integrated-4.0"  path="*." verb="GET,HEAD,POST,DEBUG,DELETE,PUT" 
           type="System.Web.Handlers.TransferRequestHandler" 
           preCondition="integratedMode,runtimeVersionv4.0" />
     </handlers>
     <modules>    
        <remove name="ErrorLog" />
        <remove name="ErrorMail" />
        <remove name="ErrorFilter" />       
        <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
        <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
        <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
        <add name="MvcCorsHttpModule" type="Thinktecture.IdentityModel.Http.Cors.Mvc.MvcCorsHttpModule"/>
     </modules>
     <staticContent>
        <remove fileExtension=".manifest" />
        <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
     </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
   <elmah>
      <security allowRemoteAccess="1" />
      <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah-sqlserver" />
      <errorMail from="dragos.andronic@gmail.com" to="dragos@txtfeedback.net" subject="LoyaltyInsights demo" async="false" smtpPort="0" useSsl="true">
         
      </errorMail>
      <!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />-->
   </elmah>
   <location path="admin/elmah.axd" inheritInChildApplications="false">
      <system.web>
         <httpHandlers>
            <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
         </httpHandlers>
         <authorization>
            <!--<allow roles="Administrator" />-->
            <deny users="?" />            
         </authorization>
      </system.web>
      <system.webServer>
         <handlers>
            <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
         </handlers>
      </system.webServer>
   </location>
<system.net>
   <mailSettings>
      <smtp from="Demo Loyalty insights &lt;demo.loyalty.insights@txtfeedback.net&gt;">
         <network enableSsl="true" host="smtp.gmail.com" defaultCredentials="false" port="587" userName="outbound@txtfeedback.net" password="outboundpasswtxtfeedback" />
      </smtp>
</mailSettings></system.net></configuration>